
:root {
  --color-bg-dark:      #0B243B;   /* Fond noir principal */
  --color-bg-section:   #0b2e4e;   /* Fond légèrement plus clair */
  --color-bg-card:      #67ACED;   /* Fond des cartes blanches */
  --color-bg-footer:    #0B243B;   /* Fond du footer */
  --color-accent-gold:  #FB6CA5;   /* Jaune/or (boutons, titres) */
  --color-accent-purple:#4719C8;   /* Violet (icônes, scores) */
  --color-text-light:   #ffffff;   /* Texte blanc */
  --color-text-dark:    #111111;   /* Texte noir */
  --color-text-muted:   #aaaaaa;   /* Texte grisé */
  --color-nav-active:   #70B6F7;   /* Fond du lien actif dans la nav */
  --color-border:       #4719C8;   /* Bordure séparatrice */
  --color-leaderboard-link: #4719C8; /* Bleu des liens du leaderboard */
  --color-score:        #4719C8;   /* Bleu du score 20/20 */

  --font-title:         'Madimi-One';   /* Police des grands titres */
  --font-body:          'DM_Sans';      /* Police du texte courant */
}





// Typography
//$font-main: 'helvetica', Arial, sans-serif;
//$txt-commun: 'Manrope', Arial, sans-serif;

// Spacing
//$spacing: 1rem;

//$color-primary: #F00;
//$color-secondary: #666;
//$color-bg: #fff;
