@font-face {
  font-family: 'MyFont';
  src: url('webfonts/myfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('webfonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 200 800;
  font-style: normal;
}
@font-face {
  font-family: 'bodoni';
  src: url('webfonts/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf') format('truetype-variations');
}

@font-face{
  font-family: 'Roboto_Serif';
  src: url('webfonts/Roboto_Serif/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf') format('truetype-variations');
}

@font-face{
  font-family: 'Rubik_Glitch';
  src: url('webfonts/Rubik_Glitch/RubikGlitch-Regular.ttf');
}

@font-face{
  font-family: 'Madimi-One';
  src: url('webfonts/Madimi_One/MadimiOne-Regular.ttf');
}

@font-face{
  font-family: 'DM_Sans';
  src: url(webfonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf) format('truetype-variations');
}